body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  line-height: 30;

}
body {
  min-height: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  background-color: aquamarine;
  flex-direction: column;
  justify-content: space-around;

}
/* .test{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: aquamarine;
}
.test{
  margin-left: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 180;
  font-size: 20px;

} */

/* body{background-color: blueviolet;}

h1{
  margin-right: 10px;
  background-color: aquamarine;
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20 ;
  display: block;
}
a{
  margin-right: 15px;
  flex-direction: row;
} */

/* body{
  display: flex;
  flex-direction: column;
  line-height: 2;
}

 #navigation{
  display: flex;
  justify-content: space-between;
    flex-direction: row;
    color: tan;

    
  } */
